@font-face {
    font-family: "ti-trait";
    src: url(/Font/lt_funk/LT\ Funk.otf);
}
@font-face {
    font-family: "gros-trait";
    src: url(/Font/roger_bold/Roger\ Bold.ttf);
}

html{
    background-image: url("/Image/boeuf.png");
    background-size: 100px;
    margin: 0%;
    width: 100%;
   
}
body {
    margin: 0%;
    width: 100%;
}
.main-containeur{
    display: grid;
    grid-template-rows: 100px 10% 28% 20% 20% 10%;
    grid-template-columns:12% 18% 30% 30% 10%;
    height: 100vh;
    grid-template-areas: 
    'titre titre titre table table'
    'contact . . . .'
    'contact . txt txt .'
    'contact . txt txt .'
    'contact . . . .'
    'contact . . . .';
}
.titre{
   
    position: relative;
    display: grid;
    background-color: black;
    color: aliceblue;
    opacity: 85%;
    text-decoration: underline whitesmoke;
    text-align: top;
    grid-area: titre;
    font-family: "ti-trait";
    font-size: 20px;
    border-bottom-right-radius: 35%;
    
}

/* Table des matières */
.tableMatiere {
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    align-items: center;
    box-sizing: border-box;
    background-color: whitesmoke;
    grid-area: table;
    
}

.tableTxt {
    text-decoration: underline black;  
    font-family: "ti-trait";
    font: size 100px;
    background-color: whitesmoke;
    align-items: center;
    justify-content:space-evenly;
    text-decoration: none;
    color: black;
}
/* Contact */
#contactTXT {
    opacity: 100%;
}

#contact {
    grid-area: contact;
    flex-direction: column;
    font-size: medium;
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(31,31,31,1) 0%, rgba(68,67,67,1) 0%, rgba(106,106,106,1) 91%);
    
    font-family: "ti-trait";
}

.imageContact {
    border-radius: 100%;
    
    grid-area: contact;
}

.titre-contact{
    text-decoration: underline;
}

#txt{
    grid-area: txt;
    font-family: "ti-trait";
    background-color: gray;
    border-radius: 10%;
    border-color: black;
    border-spacing: 10px;
}

.lien {
    color: aliceblue;
}